.burgerElement {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 208px;
    width: 272px;
    text-align: center;
    box-sizing: border-box;
}

.burgerElement:hover {
    cursor: pointer;
}

.image {
    max-width: 240px;
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    padding: 0;
    box-sizing: border-box;
}

.name {
    margin: 0;
}